@keyframes rotate360 {
    0% {
        transform: rotate(0deg) translateX(0);
    }

    25% {
        transform: rotate(100deg) translateX(2000px);
    }

    75% {
        transform: rotate(200deg) translateX(-2000px);
    }

    100% {
        transform: rotate(360deg) translateX(0);
    }
}

.spin {
    animation: rotate360 2s ease-in infinite;
}

.btn {
    position: absolute;
    top: 20%;
}

.btn-1 {
    left: 25%
}

.btn-2 {
    left: 75%;
}
